
services:
  product-db:
    build:
      context: ./services/product-db
      dockerfile: Dockerfile
    container_name: product_db_container
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: product_db
      POSTGRES_USER: product_user
      POSTGRES_PASSWORD: product_password
    volumes:
      - product_db_data:/var/lib/postgresql
    networks:
      - distributed_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U product_user -d product_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  customer-db:
    build:
      context: ./services/customer-db
      dockerfile: Dockerfile
    container_name: customer_db_container
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: customer_db
      POSTGRES_USER: customer_user
      POSTGRES_PASSWORD: customer_password
    volumes:
      - customer_db_data:/var/lib/postgresql
    networks:
      - distributed_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U customer_user -d customer_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  seller_client:
    build:
      context: ./services/seller_client
      dockerfile: Dockerfile
    container_name: seller_client_container
    depends_on:
      - seller_server
    environment:
      SERVER_HOST: seller_server
      SERVER_PORT: 5000
    stdin_open: true
    tty: true
    networks:
      - distributed_network

  seller_server:
    build:
      context: ./services/seller_server
      dockerfile: Dockerfile
    container_name: seller_server_container
    depends_on:
      product-db:
        condition: service_healthy
      customer-db:
        condition: service_healthy
    ports:
      - "5001:5000"
    environment:
      SERVER_HOST: 0.0.0.0 # Listen on all interfaces
      SERVER_PORT: 5000
    stdin_open: true
    tty: true
    networks:
      - distributed_network

  buyer_client:
    build:
      context: ./services/buyer_client
      dockerfile: Dockerfile
    container_name: buyer_client_container
    depends_on:
      - buyer_server
    environment:
      SERVER_HOST: buyer_server
      SERVER_PORT: 6000
    stdin_open: true
    tty: true
    networks:
      - distributed_network

  buyer_server:
    build:
      context: ./services/buyer_server
      dockerfile: Dockerfile
    container_name: buyer_server_container
    depends_on:
      product-db:
        condition: service_healthy
      customer-db:
        condition: service_healthy
    ports:
      - "6001:6000"
    environment:
      SERVER_HOST: 0.0.0.0 # Listen on all interfaces
      SERVER_PORT: 6000
    stdin_open: true
    tty: true
    networks:
      - distributed_network


volumes:
  product_db_data:
  customer_db_data:

networks:
  distributed_network:
    driver: bridge
